#z {
    position:absolute;
    display: block;
    top:5px;
    font-family:Monospace, Monospace;
    font-weight:Bold;
    font-size:15pt;
    left:25px;
}
#XYZt {
    position:absolute;
    top:0;
    right:0;
    fill:#eee;
    cursor:pointer;
}
#reset {
    position:fixed;
    display:block;
    right:10px;
    bottom:10px;
    background-color:#fff;
    border:2px solid #44e;
    border-radius:10px;
    padding:5px 5px;
    cursor:pointer;
    fill:#44e;
    transition-duration:0.15s;
}
#reset:hover {
    background-color:#44e;
    fill:#fff;
}
#reset:active {
    background-color:#228;
    fill:#fff;
}
#add {
    position:fixed;
    display:block;
    right:10px;
    bottom:60px;
    background-color:#fff;
    border:2px solid #4d4;
    border-radius:10px;
    padding:5px 5px;
    cursor:pointer;
    fill:#4d4;
    transition-duration:0.15s;
}
#add:hover {
    background-color:#4d4;
    fill:#fff;
}
#add:active {
    background-color:#282;
    fill:#fff;
}
.card {
    position:static;
    height:220px;
    width:175px;
    margin:15px;
    background-color:#fff;
    border:4px solid #eee;
    border-radius:25px;
    display:none;
}
.card:hover {
    background-color:#f8f8f8;
}
button:focus {outline:0;}
.a {fill:#f44; stroke:#f44; stroke-width:5px; width: 155px}
.b {fill:#4e4; stroke:#4e4; stroke-width:5px; width: 155px}
.c {fill:#44e; stroke:#44e; stroke-width:5px; width: 155px}
.g {fill-opacity:1}
.h {fill-opacity:0.5}
.i {fill-opacity:0}