html, body {
    overflow-x: hidden;
}
#z {
    position:absolute;
    display: block;
    top:5px;
    font-family:Monospace, Monospace;
    font-weight:Bold;
    font-size:15pt;
    left:25px;
}
#XYZt {
    position:absolute;
    top:0;
    right:0;
    fill:#eee;
    cursor:pointer;
}
#reset {
    position:fixed;
    display:block;
    right:10px;
    bottom:10px;
    background-color:#fff;
    border:2px solid #44f;
    border-radius:10px;
    padding:5px 5px;
    cursor:pointer;
    fill:#44f;
}
#reset:hover {
    background-color:#44f;
    fill:#fff;
    transition: 0.2s;
}
#reset:active {
    background-color:#228;
    fill:#fff;
}
#reset:after {
    background-color:#fff;
    fill:#44f;
    transition:1s;
}
.card {
    position:static;
    height:225px;
    width:175px;
    margin:15px;
    background-color:#fff;
    border:4px solid #eee;
    border-radius:25px;
    transition-duration:0.1s;
}
.card:hover {
    background-color:#f8f8f8;
}
button:focus {
    outline:0;
}

.a {fill:#f44; stroke:#f44; stroke-width:5px}
.b {fill:#4e4; stroke:#4e4; stroke-width:5px}
.c {fill:#44e; stroke:#44e; stroke-width:5px}
.g {fill-opacity:1}
.h {fill-opacity:0.5}
.i {fill-opacity:0}