#z {
    display: block;
    top:5px;
    font-family:Monospace, Monospace;
    font-weight:Bold;
    font-size:15pt;
    left:25px;
}
#XYZt {
    top:0;
    right:0;
    fill:#eee;
    cursor:pointer;
}
.x{
    position:fixed;
    top:0;
}
.m{
    position:fixed;
    display:block;
    right:15px;
    cursor:pointer;
    border:none;
    border-radius:50px;
    box-shadow:0 1.5px 10px #ccc;
    cursor:pointer;
    text-align:center;
}
#add {
    bottom:135px;
    background-color:#efe;
    padding:10px 8px 8px 10px;
    fill:#4d4;
}
#add:hover {
    background-color:#4d4;
    fill:#fff;
    box-shadow:none;
}
#reset {
    bottom:75px;
    background-color:#eef;
    padding:10px 8px 8px 10px;
    fill:#44e;
}
#reset:hover {
    background-color:#44e;
    fill:#fff;
    box-shadow:none;
}
#faq {
    bottom:15px;
    background-color:#eee;
    padding:10px 8px 8px 10px;
    fill:#444;
}
#faq:hover {
    background-color:#444;
    fill:#fff;
    box-shadow:none;
}
.card {
    position:static;
    height:220px;
    width:175px;
    margin:15px;
    background-color:#fff;
    border:none;
    box-shadow:0px 5px 25px #ddd;
    border-radius:25px;
    display:none;
}
.card:hover {
    box-shadow:0px 3px 15px #ddd;
}
#dim {
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#okay {
    width: 82%;
    background-color: #68f;
    color: #fff;
    position: absolute;
    z-index: 2;
    padding: 0 0 16px 0;
    top:30%;
    left:50%;
    text-align: center;
    font-family: "Sans serif";
    font-size: 18pt;
    box-shadow:0px 5px 25px rgba(0,0,0,0.2);
    border-radius:25px;
    margin-left: -41%;
    cursor:pointer;
}
#aboutext {
    width: 94%;
    background-color: #fff;
    color: #444;
    border-radius: 6px;
    position: static;
    z-index: 2;
    padding: 1.25% 3% 2% 3%;
    border-radius:25px;
    font-size: 12pt;
    margin-bottom:8pt;
    cursor:default;
}
button:focus {outline:0;}
.a {fill:#f44; stroke:#f44; stroke-width:5px; width: 155px}
.b {fill:#4e4; stroke:#4e4; stroke-width:5px; width: 155px}
.c {fill:#44e; stroke:#44e; stroke-width:5px; width: 155px}
.g {fill-opacity:1}
.h {fill-opacity:0.45}
.i {fill-opacity:0}