<ul class="social-media-list">
  <style>
.social-media-list {
  display: flex;
  list-style: none;
  gap: 1em;
  justify-content: space-between;
}
  </style>
  {%- if site.github_username -%}
  <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
      gh @{{ site.github_username| escape }}
  </a></li>
  {%- endif -%}
  {%- if site.instagram_username -%}
  <li> <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
      ig @{{ site.instagram_username| escape }}
  </a></li>
  {%- endif -%}
  {%- if site.youtube_username -%}
  <li><a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}">
      yt @{{ site.youtube_username| escape }}
  </a></li>
  {%- endif -%}
</ul>
