#about
{
	--duration:250ms;
	color:#052222;
	background:#4f8;
	animation-name:about-reverse
}

#about:hover
{
	animation-name:about
}

#about:focus,
#about:focus-within
{
	--duration:150ms;
	animation-name:about-highlight
}

#about>h1
{
	left:0;
	bottom:0;
	width:25vw;
	height:50vh;
	background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 16' preserveAspectRatio='none'%3E%3Cpath fill-rule='evenodd' d='M0 0H3V5H2V3H1V5H0V2H2V1H1V2H0V0M4 0H8V2H5V1H7V4H5V3H8V5H4M0 6H8V9H0V8H7V7H1V8H0M0 10V16H4V10H3V15H1V10M5 10H8V11H7V18H6V11H5'/%3E%3C/svg%3E")
}
