article
{
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:center;
	animation-timing-function:linear;
	animation-duration:var(--duration);
	animation-fill-mode:both;
	cursor:pointer;
	scroll-snap-type:y mandatory;
}

article:not(:focus):not(:focus-within) :not(h1)
{
	display:none;
}

article:hover
{
	z-index:90;
}

article:focus,
article:focus-within
{
	cursor:default;
	overflow-y:scroll;
	z-index:100;
}

/***************************/

h1
{
	position:fixed;
	color:transparent;
	pointer-events:none;
	background-size:100% 100%;
	mix-blend-mode:exclusion;
}

:focus>h1,
:focus-within>h1
{
	opacity:0
}

/***************************/

