#back{
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	background:black;
	color:white;
	opacity:0;
	mix-blend-mode:exclusion;
	right:0;
	width:12.5%;
	height:12.5%;
	z-index:100;
}

article:target~#back
{
	opacity:1;
}

article:target~#back:hover
{
	background:white;
	color:black;
}

/***************************/

#blocker
{
	pointer-events:none;
	opacity:0;
	z-index:75;
}

#blocker path{
	pointer-events:auto;
	cursor:default;
	stroke:black;
}

/***************************/

