#back{
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	background:black;
	color:white;
	opacity:0;
	mix-blend-mode:exclusion;
	right:0;
	width:12.5vw;
	height:12.5vh;
	font-size:5vmin;
	z-index:100;
	pointer-events:none;
	cursor:pointer;
}

article:focus~#back,
article:focus-within~#back
{
	opacity:1;
	pointer-events:auto;
}

article:focus~#back:hover,
article:focus-within~#back:hover
{
	background:white;
	color:black;
}

/***************************/

#fog{
	z-index:50;
	opacity:.2;
	backdrop-filter:blur(1vw);
	pointer-events:none;
}

article:hover~#fog{
	background:black;
	opacity:.5;
}

/***************************/

#blocker
{
	pointer-events:none;
	opacity:0;
	z-index:90;
}

#blocker path{
	pointer-events:auto;
	cursor:default;
	stroke:black;
}

/***************************/

