figure
{
	position:static;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	opacity:0;
	margin-block:50vh;
	scroll-snap-align:center;
}

:focus>figure,
:focus-within>figure
{
	opacity:1;
}

figcaption
{
	display:block;
	width:100%;
	padding:1rem;
	color:inherit;
}

/***************************/

h2
{
	font-weight:bold;
}

/***************************/

a
{
	color:inherit;
	background:inherit;
	cursor:pointer;
}

a:hover
{
	text-decoration:none
}

/***************************/

img,
video,
ul
{
	max-width:80vmin;
	max-height:80vmin;
	object-fit:contain;
}

/***************************/

ul
{
	display:block;
	font-size:0.8rem;
	overflow:hidden scroll;
}
li
{
	display:content;
	text-align:left;
}

/***************************/

select
{
	background:transparent;
	font-family:inherit;
	font-size:inherit;
	border: 0;
}

/***************************/

