@font-face
{
	font-family:'Computer Modern';
	src:url('fonts/computer-modern-italic.woff') format('woff');
	font-weight:normal;
	font-style:italic;
	font-display:swap;
}

@font-face
{
	font-family:'Computer Modern';
	src:url('fonts/computer-modern-bold-italic.woff') format('woff');
	font-weight:bold;
	font-style:italic;
	font-display:swap;
}
