html,body{
  margin:0;
  width:100%;
  height:100%;
  background:#000;
}
.sky{
  position:fixed;
  width:100%;
  height:100%;
}
#sky0{
  background:linear-gradient(#008,#00a);
}
#sky1{
  background:linear-gradient(#8ad,#adf);
}
#sky2{
  background:linear-gradient(#8ad,#adf);
}
#rocket{
  margin-left:50%;
  transform:translate(-37.5px,50px);
}
.capsule{
  position:absolute;
}
.booster{
  position:absolute;
  top:35px;
}
.boosterFlame{
  position:absolute;
  top:395px;
}
#tContainer{
  position:fixed;
  bottom:2%;
  height:25%;
  background-color:rgba(255,255,255,0.2);
  border-radius:100px;
  box-shadow:0 0 20px rgba(0,0,0,0.1);
  transition:0.3s;
}
#tContainer:hover{
  background-color:rgba(255,255,255,0.4);
}
#tBar{
  position:fixed;
  bottom:3%;
  background-color:rgba(255,255,255,0.4);
  border-radius:100px;
  transition:0.3s;
}
#tBar:hover{
  background-color:rgba(255,255,255,0.8);
}