html,body{
  margin:0;
  width:100%;
  height:100%;
  background:#000;
  overflow:hidden;
  color:#fff;
}
input{
}
.abs{
  position:absolute;
}
.trans{
  transition:background-color 10s ease,color 10s ease,box-shadow 10s ease,text-shadow 10s ease,fill 10s ease;
}
.bgNone{
  background-color:none;
}
.bgAir{
  background-color:rgba(0,0,0,0.2);
}
.bgWhite{
  background-color:rgba(255,255,255,0.8);
}
.bgSpace{
  background-color:rgba(50,255,100,0.6);
  box-shadow:0 0 5pt rgba(50,255,100,0.5);
}
.bgIndicator{
  background-color:rgba(0,0,0,0.1);
}
.colorAir{
  color:#fff;
}
.colorSpace{
  color:rgba(50,255,100,0.5);
  text-shadow:0 0 5pt rgba(50,255,100,0.6);
}
.fillAir{
  fill:rgba(0,0,0,0.2);
}
.fillSpace{
  fill:rgba(50,255,100,0.6);
}
.sky{
  position:fixed;
  width:100%;
  height:100%;
}
.center{
  top:6%;
  position:absolute;
  width:100%;
  text-align:center;
}
#sky0{
  background:linear-gradient(#008,#00a);
}
#sky1{
  background:linear-gradient(#8ad,#adf);
}
#sky2{
  background:linear-gradient(#8ad,#adf);
}
#rocket{
  position:absolute;
  top:46.6667%;
  width:75px;
  margin-left:50%;
}
#pad{
  position:absolute;
  top:84.5%;
  width:100%;
  height:100%;
  background-color:#678;
}
#capsule{
  position:absolute;
}
#booster{
  position:absolute;
}
.boosterFlame{
  position:absolute;
  margin-top:345px;
}
#tContainer{
  position:absolute;
  width:4vh;
  height:30%;
  right:2vh;
  bottom:2%;
  padding:none;
  border-radius:1000px;
}
#tActualBar{
  bottom:0.6667vh;
  width:3.6667vh;
}
#tBar{
  width:100%;
  height:97%;
  -webkit-appearance:slider-vertical;
  -moz-appearance:slider-vertical;
  cursor:pointer;
  opacity:0;
}
#tActualBar{
  position:absolute;
  right:15%;
  width:70%;
  border-radius:1000px;
}
.overlayText{
  position:absolute;
  font-family:RobotoMonoMed,Monospace;
  font-size:3vh;
}
#aContainer{
  position:absolute;
  width:10%;
  height:100%;
  top:10;
  transition:0.3s ease;
}
#aDot{
  position:absolute;
  width:9%;
  margin:1%;
}
#xContainer{
  font-family:RobotoMonoMed,Monospace;
  border-radius:1vh;
  font-size:3vh;
  padding:0.5vh 1vh 0.5vh 1vh;
  display:inline-block;
}
#yContainer{
  top:47.6667%;
  border-radius:1vh;
  font-size:3vh;
  padding:0.5vh 1vh 0.5vh 1vh;
  margin-left:6vh;
}
.tick{
  position:absolute;
  width:100%;
  height:4px;
  transform:translate(0,3px);
}
#tick1{bottom:31.62%;}
#tick2{bottom:44.72%;}
#tick3{bottom:54.77%;}
#tick4{bottom:63.25%;}
#tick5{bottom:70.71%;}
#tick6{bottom:77.46%;}
#tick7{bottom:83.67%;}
#tick8{bottom:89.44%;}
#tick9{bottom:94.87%;}
#overlay{
  position:absolute;
  height:34%;
  width:34vh;
  border-radius:9% 0 0 0;
  right:0;
  bottom:0;
}
#metContainer{
  margin:3vh;
}
#vContainer{
  margin:3vh;
  transform:translate(0,60pt);
}
#fContainer{
  margin:3vh;
  transform:translate(0,90pt);
}
#dead{
  position:fixed;
  background-color:#f00;
  opacity:0.5;
  color:#fff;
  font-family:Sans,Sans;
  width:100%;
  height:100%;
}
#deadtext{
  margin-top:50%;
  margin-left:50%;
}
#loading{
  background-color:#000;
  position:absolute;
  width:100%;
  height:100%;
  animation:fade 4s ease;
  left:-10000px;
}
#title{
  position:absolute;
  right:100px;
  top:100px;
}
#lContainer{
  background-color:#000;
  position:absolute;
  width:100%;
  height:2%;
  bottom:0;
}
#lBar{
  background-color:#657878;
  height:100%;
  animation:loading 3s ease-in-out;
}
#lCapsule{
  transform:translate(-15%,0);
}
#lLogo{
  transform:translate(10px,0);
}
#xScroll{
  position:fixed;
  left:30%;
  top:0;
}
#yScroll{
  position:absolute;
}
.mapOn{
  animation:mapOn 0.5s ease;
  left:0;
}
.mapOff{
  animation:mapOff 0.5s ease;
  left:-100%;
}
.mapOnScroll{
  animation:mapOnScroll 0.5s ease;
  left:10%;
}
.mapOffScroll{
  animation:mapOffScroll 0.5s ease;
  left:0;
}

@font-face {
  font-family:RobotoMonoMed;
  src:url(roboto-mono/RobotoMono-Medium.ttf);
}
@font-face {
  font-family:RobotoMonoBold;
  src:url(roboto-mono/RobotoMono-Bold.ttf);
}
@keyframes fade{
  0% {opacity:1;left:0}
  75% {opacity:1;left:0}
  99% {opacity:0;left:0}
  100% {opacity:0;left:-10000px}
}
@keyframes loading{
  0% {width:0;}
  100% {width:100%;}
}
@keyframes mapOn{
  0% {left:-10%}
  100% {left:0;}
}
@keyframes mapOff{
  0% {left:0}
  100% {left:-10%;}
}
@keyframes mapOnScroll{
  0% {left:0}
  100% {left:10%;}
}
@keyframes mapOffScroll{
  0% {left:10%}
  100% {left:0;}
}